html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch; 
    height: auto;
}

.sidebar {
    background: #1992D4;
    color: white;
    width: 20%;
    height: auto;
}

.sidebar .dashboardandIcon {
    display: flex;
    gap: 1rem;
}

.dashboardandIcon {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.dashboard {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

.sidebar h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-left: 2rem;
}

ul div {
    margin-bottom: 1rem;
}

h2 {
    color: white;
    font-size: 28px;
    margin: 0;
}

a {
    text-decoration: none;
}

.homeandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.home {
    width: 2rem;
    height: 37px;
}

.profileandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.profile {
    width: 2rem;
    height: 37px;
}

.messageandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.messageIcon {
    width: 2rem;
    height: 37px;
}

.historyandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.historyIcon {
    width: 2rem;
    height: 37px;
}

.tasksandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.tasksIcon {
    width: 2rem;
    height: 37px;
}

.commuitiesandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    margin-bottom: 5rem;
}

.communitiesIcon {
    width: 2rem;
    height: 37px;
}

.settingsandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.settingsIcon {
    width: 2rem;
    height: 37px;
}

.supportandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.supportIcon {
    width: 2rem;
    height: 37px;
}

.privacyandIcon {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.privacyIcon {
    width: 2rem;
    height: 37px;
}

.headerandContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-grow: 1;
}

.header {
    padding-bottom: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
}

.top_header {
    display: flex;
    gap: 2rem;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    border-radius: 30px;
    padding: 0.25rem 1rem;
    width: 50%;
    margin-left: 7rem;
    margin-top: 1.75rem;
}

input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.25rem;
    background-color: transparent;
}

.notificationButton {
    margin-top: 1.75rem;
    margin-left: 8rem;
    background: none;
    border: none;
    cursor: pointer;
}

.notificationIcon {
    width: 2rem;
    height: 37px;
}

.profileButton {
    margin-top: 1.75rem;
    background: rgb(255, 230, 0);
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.profileIcon {
    width: 2rem;
    height: 37px;
}

.header span {
    margin-top: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #111827;
}

.bottom_header {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 1.5rem;
}

.bottom_header .profileIcon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(255, 230, 0);
    margin-left: 5rem;
}

.profile-text p {
    margin: 0;
    margin-bottom: 3px;
}

.profile-text h2 {
    color: black;
}

.button-group {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: 33rem;
}

.action-button {
    background-color: #1992D4;
    color: #ffffff;
    padding: 0.6rem 1.5rem;
    width: 6rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.content_area {
    flex: 1;
    background-color: #E2E8F0;
    display: flex;
}

.content_area h2 {
    color: #000000;
    font-size: 24px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.content_area .project_content {
    width: 65%;
}

.content_area .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    gap: 1.5rem;
    width: 100%;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 230px;
    border-radius: 8px;
    border-left: 8px solid #F0B429;
}

.card:hover {
    transition: 0.5s;
    background-color: #F0B429;
}


.icon_container {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 20rem;
}

.icon_container img {
    width: 1.7rem;
    height: 34px;
}

.announcements-trending {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.announcements-trending h2 {
    margin-left: 0.5rem;
}

.announcements-card {
    background-color: #FFFFFF;
    margin-left: 0.5rem;
    height: 240px;
    width: 380px;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 1rem;
    padding: 2rem 2rem 2rem 2rem;
}

.announcements-card h3.first {
    margin-top: 0px;
}

.announcements-card h3 {
    margin-bottom: 0px;
}

.announcements-card p {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    margin-top: 3px;
}

.announcements-card p.last {    
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.trending-card {
    margin-left: 0.5rem;
    margin-top: 1rem;
    background-color: #FFFFFF;
    height: 304px;
    width: 444px;
    border-radius: 8px;
    flex: 1;
    margin-bottom: 2rem;
}

.trend-item {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.trend-item .profileIcon {
    width: 2rem;
}

.trend-item .profileButton {
    margin-top: 0.5rem;
}

.trend-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.trend-text p {
    margin: 0px;
}

p.username {
    margin-top: 0.5rem;
}

.trend-item:nth-child(5) {
    margin-bottom: 1rem; 
}


